const colors = [
  'red',
  'orange',
  'yellow',
  'green',
  'blue',
  'purple'
];

const people = [
  {first: "a", last: "v" },
  {first: "b", last: "w" },
  {first: "c", last: "x" },
  {first: "d", last: "y"},
  {first: "e", last: "z"}
];




doctype html
html(lang="en")
  head
    title Flash Cards
  body
    header
      h1 Flash Cards
    section#content
      h2 Welcome, student!
      ul
        each color in colors
          li= color
      p
      table
        tr
          th Firstname
          th Lastname
        each person in people
          tr
            td= person.first
            td= person.last
    footer
      p An app to help you study
